<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Blogr</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="img/logo.png" rel="icon" />
  <link href="img/logo.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet" />
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <link href="style.css" rel="stylesheet" />
  <link href="searchbar.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head>

<body>

  <!-- start Header -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center" style="text-decoration: none;">
        <img src="img/logo.png" alt="">
        <span>Blogr</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <% if(login) { %>
            <li><a class="getstarted scrollto" href="/profile/<%= username %>">
                <%= username %>
              </a></li>
            <% } else { %>
              <li><a class="getstarted scrollto" href="/register">Login</a></li>
              <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header><!-- End Header -->
  <!-- <section>
    <header class="section-header" style="margin-top: 4%;">
      <p>The first step in blogging is not writing them but reading them</p>
    </header> -->
  </section>
  <section id="search" class="about" style="margin-top : 8% ">
    <div class="container h-100">
      <div class="s129" data-aos="fade-up">
        <form action="/search" method="POST">
          <div class="inner-form">
            <div class="input-field">
              <button class="btn-search" type="submit">
                <img src="img/bar.png" width=60% alt="">
              </button>
              <input id="search" type="text" name="search" placeholder="What are you looking for .....">
            </div>
          </div>
        </form>
        <!-- <div> -->
        <img src="img/pricing-business.png" height="40%" width="40%">
        <!-- </div> -->

      </div>
    </div>
  </section>


  <section id="recent-blog-posts" class="recent-blog-posts">
    <div class="container" data-aos="fade-up">

      <div class="row" id="row">
        <% result.forEach(function(item){ %>

          <div class="col-4 pd " style="padding-left: 5%;">
            <div class="post-box">
              <div class="post-img">
                <img src=<%=item.covimg %> class="img-fluid" alt="" />
              </div>
              <div class="row">
                <div class="col-6">
                  <span class="post-date">
                    <%= item.lastUpdateTime %>
                  </span>
                </div>
                <div class="col-6" style="text-align:right;  ">
                  <span class="post-date">
                    <%= item.views %> views
                  </span>
                </div>

              </div>
              <h3 class="post-title">
                <%= item.title %>
              </h3>
              <a href="/view/<%=item.author%>/<%= item.key %>" class="readmore stretched-link mt-auto"><span>Read
                  More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </section>
  <!-- End Recent Blog Posts Section -->
  <script src="vendor/purecounter/purecounter.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="main.js"></script>
</body>

</html>